<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.jinpus.tpms.mapper.OrderColorMapper">
	<select id="selectOrderColor" resultType="com.jinpus.tpms.api.domain.OrderColorDo">
		SELECT *
		FROM (SELECT *, ROW_NUMBER() OVER (PARTITION BY size_name ORDER BY create_time DESC) AS rn
			  FROM order_color
			  WHERE work_order_id = #{workOrderId}) t
		WHERE t.rn = 1
	</select>







</mapper>